<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<title th:text=${title}></title>



</head>
<body>
	<table class="table">
    
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th>Price</th>
      <th>Image</th>
      <th>Stock</th>
    </tr>
        
        <tr th:if="${products.empty}">
            <td colspan="2"> No products with that title, please try again :( </td>
           
        </tr>
        <tr th:each="product : ${products}">
            <td><span th:text="${product.title}"> Title </span></td>
            <td><span th:text="${product.manufacturer}"> Manufacturer </span></td>
            <td><span th:text="${product.category}"> Category </span></td>
            <td><span th:text="${product.price}"> Price </span></td>
            <td><span th:text="${product.image}"> Image </span></td>
            <td><span th:text="${product.stockx}"> Stock </span></td>
        </tr>
    
    </table>
    <a href="/user" class="btn">back</a>
    

</body>
</html>